#Ignore all executables
*.exe
**/*.exe
**/main
**/square_prog
**/problem
**/task*
**/p
**/w

# Ignore all object files
*.o
**/*.o

# Ignore backup or temporary files
*.save
*.cy
*.log
*.tmp
*.out
*.bak
**/*.save
**/*.cy
**/*.log
**/*.tmp
**/*.out
**/*.bak

# Ignore unnecessary text/build files
build.txt
dest.txt
source.txt
noratus.txt
class/

