# Ignore compiled executables
*.exe
*/task*
*/main
*/square_prog
*/problem
*/p
*/w

# Ignore object files
*.o

# Ignore temporary or backup files
*.save
*.cy

# Ignore text files not needed in repo
build.txt
dest.txt
source.txt
noratus.txt

# Ignore any temp/hidden files
*.log
*.tmp
*.out
*.bak

# Ignore compiled binaries in subdirectories
HW3/
HW4/
HW5/
HW6/
HW7/
HW8/

# But keep source code (.c) files
!HW3/**/*.c
!HW4/**/*.c
!HW5/**/*.c
!HW6/**/*.c
!HW7/**/*.c
!HW8/**/*.c
# Ignore compiled executables
*.exe
*/task*
*/main
*/square_prog
*/problem
*/p
*/w

# Ignore object files
*.o

# Ignore temporary or backup files
*.save
*.cy

# Ignore text files not needed in repo
build.txt
dest.txt
source.txt
noratus.txt

# Ignore any temp/hidden files
*.log
*.tmp
*.out
*.bak

# Ignore compiled binaries in subdirectories
HW3/
HW4/
HW5/
HW6/
HW7/
HW8/

# But keep source code (.c) files
!HW3/**/*.c
!HW4/**/*.c
!HW5/**/*.c
!HW6/**/*.c
!HW7/**/*.c
!HW8/**/*.c

